@font-face {
  font-family: "iconfont"; /* Project id 4406901 */
  src: url('iconfont.woff2?t=1704964982804') format('woff2'),
       url('iconfont.woff?t=1704964982804') format('woff'),
       url('iconfont.ttf?t=1704964982804') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-history:before {
  content: "\eb11";
}

.icon-ellipsis:before {
  content: "\eb10";
}

.icon-accept-check:before {
  content: "\e61e";
}

.icon-accessory:before {
  content: "\e61f";
}

.icon-add:before {
  content: "\e620";
}

.icon-appraise:before {
  content: "\e621";
}

.icon-apply:before {
  content: "\e622";
}

.icon-ajpt-out:before {
  content: "\e623";
}

.icon-ajpt:before {
  content: "\e624";
}

.icon-aqgl:before {
  content: "\e625";
}

.icon-back:before {
  content: "\e626";
}

.icon-batch-import:before {
  content: "\e627";
}

.icon-bookmark:before {
  content: "\e628";
}

.icon-bottom:before {
  content: "\e629";
}

.icon-bell:before {
  content: "\e62a";
}

.icon-chart:before {
  content: "\e62b";
}

.icon-circle-return:before {
  content: "\e62c";
}

.icon-close:before {
  content: "\e62d";
}

.icon-close-popup:before {
  content: "\e62e";
}

.icon-copy:before {
  content: "\e62f";
}

.icon-clean-up:before {
  content: "\e630";
}

.icon-corrected:before {
  content: "\e631";
}

.icon-create:before {
  content: "\e632";
}

.icon-cut:before {
  content: "\e633";
}

.icon-date:before {
  content: "\e634";
}

.icon-delete:before {
  content: "\e635";
}

.icon-current-team:before {
  content: "\e636";
}

.icon-delay:before {
  content: "\e637";
}

.icon-department:before {
  content: "\e638";
}

.icon-detailed-view:before {
  content: "\e639";
}

.icon-distribute:before {
  content: "\e63a";
}

.icon-dmp:before {
  content: "\e63b";
}

.icon-double-left:before {
  content: "\e63c";
}

.icon-double-right:before {
  content: "\e63d";
}

.icon-download:before {
  content: "\e63e";
}

.icon-edit:before {
  content: "\e63f";
}

.icon-exchange:before {
  content: "\e640";
}

.icon-empower:before {
  content: "\e641";
}

.icon-enable:before {
  content: "\e642";
}

.icon-execute:before {
  content: "\e643";
}

.icon-export:before {
  content: "\e644";
}

.icon-filter:before {
  content: "\e645";
}

.icon-finish:before {
  content: "\e646";
}

.icon-follow:before {
  content: "\e647";
}

.icon-eye:before {
  content: "\e648";
}

.icon-forbidden:before {
  content: "\e649";
}

.icon-full-screen:before {
  content: "\e64a";
}

.icon-grid_:before {
  content: "\e64b";
}

.icon-group:before {
  content: "\e64c";
}

.icon-grid:before {
  content: "\e64d";
}

.icon-hand-take-over:before {
  content: "\e64e";
}

.icon-help:before {
  content: "\e64f";
}

.icon-hide:before {
  content: "\e650";
}

.icon-hn-logo:before {
  content: "\e651";
}

.icon-import:before {
  content: "\e652";
}

.icon-insert-after:before {
  content: "\e653";
}

.icon-insert-before:before {
  content: "\e654";
}

.icon-invalid:before {
  content: "\e655";
}

.icon-jcjhbz:before {
  content: "\e656";
}

.icon-jcjhcx:before {
  content: "\e657";
}

.icon-jcjhfk:before {
  content: "\e658";
}

.icon-jcjhxd:before {
  content: "\e659";
}

.icon-jcwtcj:before {
  content: "\e65a";
}

.icon-jcjhxg:before {
  content: "\e65b";
}

.icon-jcwtxg:before {
  content: "\e65c";
}

.icon-jcwtcx:before {
  content: "\e65d";
}

.icon-jcwtys:before {
  content: "\e65e";
}

.icon-jcjhjsfj:before {
  content: "\e65f";
}

.icon-jsjd:before {
  content: "\e660";
}

.icon-jxgl:before {
  content: "\e661";
}

.icon-left:before {
  content: "\e662";
}

.icon-line-chart:before {
  content: "\e663";
}

.icon-logout:before {
  content: "\e664";
}

.icon-list-view:before {
  content: "\e665";
}

.icon-lose-effect:before {
  content: "\e666";
}

.icon-mobile-phone:before {
  content: "\e667";
}

.icon-message-view:before {
  content: "\e668";
}

.icon-more:before {
  content: "\e669";
}

.icon-move-up:before {
  content: "\e66a";
}

.icon-move-down:before {
  content: "\e66b";
}

.icon-normal-screen:before {
  content: "\e66c";
}

.icon-notice:before {
  content: "\e66d";
}

.icon-organization:before {
  content: "\e66e";
}

.icon-pass:before {
  content: "\e66f";
}

.icon-position:before {
  content: "\e670";
}

.icon-personal:before {
  content: "\e671";
}

.icon-print:before {
  content: "\e672";
}

.icon-produce:before {
  content: "\e673";
}

.icon-produce-card:before {
  content: "\e674";
}

.icon-publish:before {
  content: "\e675";
}

.icon-quote:before {
  content: "\e676";
}

.icon-query:before {
  content: "\e677";
}

.icon-refresh:before {
  content: "\e678";
}

.icon-recovery:before {
  content: "\e679";
}

.icon-register:before {
  content: "\e67a";
}

.icon-reject:before {
  content: "\e67b";
}

.icon-report:before {
  content: "\e67c";
}

.icon-reset:before {
  content: "\e67d";
}

.icon-return:before {
  content: "\e67e";
}

.icon-right:before {
  content: "\e67f";
}

.icon-save:before {
  content: "\e680";
}

.icon-review:before {
  content: "\e681";
}

.icon-revoke:before {
  content: "\e682";
}

.icon-safety-measure:before {
  content: "\e683";
}

.icon-save-as:before {
  content: "\e684";
}

.icon-scwz:before {
  content: "\e685";
}

.icon-search:before {
  content: "\e686";
}

.icon-scxm:before {
  content: "\e687";
}

.icon-sign-in:before {
  content: "\e688";
}

.icon-setting:before {
  content: "\e689";
}

.icon-sjgl:before {
  content: "\e68a";
}

.icon-sjgl-out:before {
  content: "\e68b";
}

.icon-solid-message:before {
  content: "\e68c";
}

.icon-solid-bell:before {
  content: "\e68d";
}

.icon-solid-letter:before {
  content: "\e68e";
}

.icon-solid-notice:before {
  content: "\e68f";
}

.icon-solid-star:before {
  content: "\e690";
}

.icon-star:before {
  content: "\e691";
}

.icon-start:before {
  content: "\e692";
}

.icon-stop:before {
  content: "\e693";
}

.icon-submit:before {
  content: "\e694";
}

.icon-stop-use:before {
  content: "\e695";
}

.icon-subtract:before {
  content: "\e696";
}

.icon-sure:before {
  content: "\e697";
}

.icon-sync:before {
  content: "\e698";
}

.icon-todo:before {
  content: "\e699";
}

.icon-toggle-left:before {
  content: "\e69a";
}

.icon-toggle-right:before {
  content: "\e69b";
}

.icon-top:before {
  content: "\e69c";
}

.icon-unexecuted:before {
  content: "\e69d";
}

.icon-upload:before {
  content: "\e69e";
}

.icon-user-avatar:before {
  content: "\e69f";
}

.icon-wtgkcl:before {
  content: "\e6a0";
}

.icon-wtcsbg:before {
  content: "\e6a1";
}

.icon-xfaq:before {
  content: "\e6a2";
}

.icon-ywbl:before {
  content: "\e6a3";
}

.icon-yxgl:before {
  content: "\e6a4";
}

.icon-zgcscx:before {
  content: "\e6a5";
}

.icon-zgcsys:before {
  content: "\e6a6";
}

.icon-zgcszx:before {
  content: "\e6a7";
}

.icon-zhcx:before {
  content: "\e6a8";
}

.icon-ztjx:before {
  content: "\e6a9";
}

